body {
    font-size: 16px;
    color: #3E627A;
    background-color: #90EE90;
    font-family: 'Oxygen', sans-serif;
  }
  
  
  /** HEADER **/
  #header-nav {
    background-color: #588BAE;
    border-radius: 0;
    border: 0;
  }
  
  #logo-img {
    background: url('../images/recycling_logo_150x150.png') no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
  }
  
  .navbar-brand {
    padding-top: 25px;
  }
  
  .navbar-brand h1 {
    /* Site Name */
    font-family: 'Lora', serif;
    color: #90EE90;
    font-size: 2.4vw;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1.5px 1.5px 1.5px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }
  
  .navbar-brand a:hover,
  .navbar-brand a:focus {
    text-decoration: none;
  }
  
  .navbar-brand p {
    /* Kosher cert */
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
  }
  
  .navbar-brand p span {
    /* Star-K */
    vertical-align: middle;
  }
  
  #nav-list {
    margin-top: 10px;
  }
  
  #nav-list a {
    color:#90EE90;
    text-align: center;
    text-shadow: 1.5px 1.5px 1.5px #222;
  }
    
  #nav-list a:after {
    content: "";
    position: absolute;
    left:0;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width .3s ease-in-out;
  }
  #nav-list a:hover:after {
    width: 100%;
  }
  
  #nav-list a span {
    font-size: 1.8em;
  }
  
  #phone {
    margin-top: 5px;
  }
  
  .navbar-header button.navbar-toggle,
  .navbar-header .icon-bar {
    border: 1px solid #61122f;
    background-color: #90EE90;
  }
  
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }
  
  /* END HEADER */

  .cont{
    text-align: left;
    width: 500px;
    height: 500px;  
    background-color: antiquewhite;
    border-radius: 15px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.06);
    padding: 20px;
    overflow-y: scroll;
  }

  .cont::-webkit-scrollbar {
    width: 2em;
    background-color: whitesmoke;
  }

  
  .cont::-webkit-scrollbar-thumb {
    background-image: url("../images/scrollbar.png");
    background-position: center bottom, center -40px;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
  } 

  body::-webkit-scrollbar {
    width: 2em;
    background-color: whitesmoke;
  }

  
  body::-webkit-scrollbar-thumb {
    background-image: url("../images/scrollbar.png");
    background-position: center bottom, center -40px;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
  } 

  .cont form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
  }

  .cont form input{
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 10px;
  }

  .cont form i{
    padding-left: 10px;
  }

  .rec-list {
    padding: 20px 0px;
  }

  .item{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 15px;
  }

  .item img{
    width: 70x;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
  }

  .item .p-details {
    padding-left: 15px;
  }

  .item .p-details h2{
    font-size: 20px;
    color: #3E627A;
  }

  .item .p-details h3{
    font-size: 18px;
    color: #3E627A;
  }

    /*Footer*/
    .panel-footer {
      margin-top: 30px;
      padding-top: 35px;
      padding-bottom: 30px;
      background-color: #588BAE;
      border-top: 0;
      color: #E7E7E7;
    }
    .panel-footer a{
      color: #E7E7E7;
    }
    .panel-footer div.row {
      margin-bottom: 35px;
    }
    #site-map, #contact {
      line-height: 2;
    }
    #site-map > span, #contact > span {
      font-size: 1.3em;
    }
  
    #logo img{
      padding: 1vw;
    }
  
    #logo h2{
      color: #90EE90;
    }

    #Vector1{
      stroke-dasharray: 1164.698;
      stroke-dashoffset: 1164.698;
      animation: sign 4s ease;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
  
    }

    #credit {
      text-align: center;
    }

    @media (min-width: 1200px) {
      .container {
        max-width: 1100px;
      }
    
    }
    
    @media (min-width: 992px) and (max-width: 1199px) {
      .container {
        max-width: 992px;
      }
    }
    
    @media (min-width: 768px) and (max-width: 991px) {
      .container {
        max-width: 768x;
      }
      
      .navbar-brand h1 {
        font-size: 2.4vw;
      }
    }
    
    @media (max-width: 767px) {
    
      body {
        overflow-x: hidden;
      }
    
      .container {
        max-width: 767px;
      }
    
      .navbar-brand h1 {
        font-size: 3.5vw;
      }

      .cont {
        width: auto;
      }
      
    }
  






   